node_modules/
# Keep environment variables out of version control
.env
.env.*

/generated/prisma

dist/
build/
uploads/

# Python & ML
__pycache__/
*.py[cod]
.pytest_cache/

# Logs & temp
*.log
*.tmp
.DS_Store
Thumbs.db